body {
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background:
  		linear-gradient(rgba(135, 60, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
  		linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 75%);
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #113a65;
  width: 35%;
  padding-bottom: 6px;
  color: #fff;
  font-weight: lighter;
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 25px;
  outline: none;
  opacity: 0.8
}

input::-webkit-input-placeholder {
  color: #103a65;
}

input::-moz-placeholder {
  color: #103a65;
}

button {
  border: 1px solid #103a65;
  border-bottom: 3px solid #103a65;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #235d9c;
  color: #fff;
  outline: none!important;
}

button:hover {
  border-bottom: 2px solid #103a65;
  position: relative;
  top: 2px;
}

button:active {
  border-bottom: 2px solid transparent;
  border-color: transparent;
  position: relative;
  top: 2px;
}

.error {
  font-size: 25px;
  color: #041f3c;
  font-weight: bold;
}
