body {
}

.card-inf{
  margin-bottom: 2.2vh;
  font-weight: bold;
}

/*Bootstrap*/

.col-md-4 {

  width: 33.33333333%;
  padding-top: 6.8vh;
  padding-right: 10vh;
}


.card_inf {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 5px solid rgba(0, 0, 0, 0.425);
  border-radius: 0.25rem;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 5px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card > hr {
  margin-right: 0;
  margin-left: 0;
}
.card > .list-group {
  border-top: inherit;
  border-bottom: inherit;
}
.card > .list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.card > .list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.card > .card-header + .list-group,
.card > .list-group + .card-footer {
  border-top: 0;
}







.card-group > .card {
  margin-bottom: 0.75rem;
  background-color: transparent;
  height: 68vh;
}
@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }
  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }
  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }
  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }
  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}
/*Bootstrap*/






.centring{
  text-align: center;

}
.card{
  text-align: center;
  height: 20vh;
  lenth: 2vh;
}
.card_wrapper{
}


.wrapper {
  height: 100vh;
  overflow:  hidden;
  /*display: flex;*/
  /*justify-content: center;
  align-items: center;*/

  background:
  		linear-gradient(rgba(135, 60, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
  		linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 75%);
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #113a65;
  width: 16%;
  padding-bottom: 5px;
  color: #fff;
  font-weight: lighter;
  margin-bottom: 1.2%;
  margin-right: 0.3%;
  font-size: 25px;
  outline: none;
  opacity: 0.8;
  text-align: center
}

input::-webkit-input-placeholder {
  color: #103a65;
  text-align: center;
}

input::-moz-placeholder {
  color: #103a65;

}

button {
  border: 1px solid #103a65;
  border-bottom: 3px solid #103a65;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #235d9c;
  color: #fff;
  outline: none!important;
  opacity: 0.85;
}

button:hover {
  border-bottom: 2px solid #103a65;
  position: relative;
  top: 2px;
  opacity: 1;

}

button:active {
  border-bottom: 2px solid transparent;
  border-color: transparent;
  position: relative;
  top: 2px;
  opacity: 0.8;
}

.error {
  font-size: 25px;
  color: #041f3c;
  font-weight: bold;
}
